<div class="card">
  <img src="<%= user.url %>" alt="<%= user.itemname %>" />
  <span><%= user.itemname %></span>
  <span><%= user.price %></span>
  <a href="/item/<%= user.id %>">
    <button>VIEW</button>
  </a>
</div>
