<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= user.itemname %></title>
  </head>
  <body>
    <nav>
      <a href="/">HOME</a>
    </nav>
    <div class="singleItem">
      <img src="<%= user.url %>" alt="<%= user.itemname %>" />
      <span><%= user.itemname %></span>
      <span><%= user.price %></span>
    </div>
    <div class="updateItem">
      <a href="/update/<%= user.id %>">
        <button>UPDATE</button>
      </a>
    </div>
  </body>
</html>
